<footer>
 <div class="row text-center">
 	<div class="column small-24">
 		<h4>Ihre Vorteile</h4>
 	</div>
 </div>
 	<div class="row unstack text-left">
 		<div class="column medium-12 small-24">
 			<img src="/img/dollar.png" alt="">
 			<p>
 				Unser Unternehmen beweist, dass Qualität, professioneller und kompetenter Service kein Vermögen kosten muss. Transparenz ist garantiert.
 			</p>
 		</div>
 		<div class="column medium-12 small-24">
 			<img src="/img/mobile.png" alt="">
 			<p>
 				Um Blitz-Schnell auf Ihre Bedürfnisse und Anfragen zu reagieren, reicht es, wenn Sie eine kurze Nachricht per SMS an uns senden. Wir kümmern uns um den Rest.
 			</p>
 		</div>
 	</div>
 	<div class="row unstack text-left">
 		<div class="column medium-12 small-24">
 			<img src="/img/shield.png" alt="">
 			<p>
 				Sollten Sie einen Mangel feststellen, haben Sie ein Recht auf Nachbesserung ohne jede Diskussion aufgrund unserer Qualitätsgarantie.
 			</p>
 		</div>
 		<div class="column medium-12 small-24">
 			<img src="/img/checklist.png" alt="">
 			<p>
 				Durch unser Qualitäts-Check und unsere effiziente Qualitäts-Organisation, garantieren wir die optimale Ausführung, der von Ihnen gewünschten Aufgaben.
 			</p>
 		</div>
 	</div>
 	<div class="row unstack text-left">
 		<div class="column medium-12 small-24">
 			<img src="/img/person.png" alt="">
 			<p>
 				In jedem Bereich qualifizierte Mitarbeiter.
 			</p>
 		</div>
 		<div class="column medium-12 small-24">
 			<img src="/img/24.png" alt="">
 			<p>
 				Selbstverständlich bieten wir Ihnen in unserem Dienstleistungspaket auch einen 24-Stunden-Notfall-Service an.
 			</p>
 		</div>
 	</div>
 	<div class="row unstack text-left">
 		<div class="column medium-12 small-24">
 		<img src="/img/prices.png" alt=""> 
 			<p>
 				Transparente Preise: bei uns gibt es keine versteckten Kosten. Wir halten uns an den vorab vereinbarten Endpreis und Reinigungsintervall.
 			</p>
 		</div>
 		<div class="column medium-12 small-24">
 			<img src="/img/seed.png" alt="">
 			<p>
 				Unsere Mitarbeiter werden in ökologischen Reinigungs-Techniken umfassend geschult. Unsere Reinigungsmittel erfüllen die höchste ökologische Standards.
 			</p>
 		</div>
 	</div>
 	<div class="row unstack">
	<div class="column"><div class="unstack"></div></div>
	</div>
 	<div class="row unstack">
 		<div class="column small-24 medium-12 text-right">
 			<span>&#169;2017 SCHERER Facility Services</span>
 		</div>
 		<div class="column small-24 medium-12">
 		<div class="social">
 			<a href="https://www.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
 			<a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
 			<a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
 			<a href="https://plus.google.com/"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
 			</div>
 		</div>
 		</div>
 	</div>
</footer>
<script src="./js/bundle.js"></script>
</body>
</html>